html {
    font-size: 62.5%;
}

body {
    margin: 0rem auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    line-height: 1.2;
    background-color: #fff;
}

main {
    margin: 0rem 5rem;
    max-width: 60rem;
}

h1 {
    font-size: 4rem;
}

navbar ul {
    position: sticky;
    margin: 0rem;
    padding: 0rem 5rem;
    overflow: hidden;

    list-style-type: none;
    background-color: #eee;
}

navbar ul li {
    float: left;
}

@media screen and (max-width: 60rem) {
    navbar ul li {
        float: none;
    }
}

navbar ul li a {
    display: block;
    padding: 1.4rem 1.6rem;
    text-align: center;

    text-decoration: none;
    color: #000;
}

navbar ul li a:hover {
    background-color: #77a;
    color: #fff;
}

navbar ul li a:active {
    background-color: #55a;
    color: #fff;
}
