<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Tech Stuff -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- Information -->
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" media="screen" href="/resources/css/main.css?v=2022-10-02">
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2022-10-02">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2022-10-02">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2022-10-02">
  <link rel="manifest" href="/site.webmanifest?v=2022-10-02">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=2022-10-02" color="#336688">
  <link rel="shortcut icon" href="/favicon.ico?v=2022-10-02">
  <meta name="msapplication-TileColor" content="#aaddff">
  <meta name="theme-color" content="#ffffff">
</head>

<body>
  <navbar>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="lore.html">Lore</a></li>
    </ul>
  </navbar>

  <main>
    {{ content }}
  </main>
</body>

</html>
